## .NET gitignore

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/

# NuGet
*.nupkg
**.nupkg.sha512
*.nuget.props
*.nuget.targets
packages/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# App specific
appsettings.local.json

# Mac/Windows
.DS_Store
Thumbs.db
